[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.0.2"
flask-migrate = "==2.2.1"
flask-script = "==2.0.6"
passlib = "*"
pyjwt = "*"
flask-json-schema = "*"
singleton = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
jsonschema = "*"

[dev-packages]

[requires]
python_version = "3.6"
